[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
itsdangerous = "*"
python-dotenv = "*"
psycopg2-binary = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
Flask-SQLAlchemy = "*"
flask-apscheduler = "*"
celery = "*"
redis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
